//color variables
$color-tan:#FFF8E4;
$color-grey-oblique:#9797972b;
$color-grey:#979797;
$color-red-dark :#962D23;
$color-green-medium:#117373;
$color-green-dark:#0D5C5C;

$total-boxes: 4;
$total-sections: 8;

//font variables top nav
.nixie-one-large {
    font-family: "Nixie One", system-ui;
    font-weight: 500;
    font-style: normal;
    font-size: 4em;
}

.nixie-one-regular {
    font-family: "Nixie One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.875em;
}

.scope-one-regular {
    font-family: "Scope One", serif;
    font-weight: 600;
    font-size: 1.5em;
}

.scope-one-fine {
    font-family: "Scope One", serif;
    font-weight: 400;
    font-size: 1em;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.125em;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.8125em;
}


//width navs
$sidebar-width: 7%; 
$sidebar-img-height: 82%;



//mixins
@mixin flexAlign($justify: center, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin flexDirection($display, $direction){
    display: flex;
    flex-direction: $direction;
}

@mixin imgScale($fit, $height, $width){
    width: $width; /* Let the width adjust to maintain aspect ratio */
    height: $height;
    object-fit: $fit; /* Maintain aspect ratio and fit within the container */
    overflow: hidden;
    object-position: center; // Center the image within the container
}

@mixin centerContent {
    display: grid;
    justify-content: center;
    align-items: center;
}
