//color variables
$color-tan:#FFF8E4;
$color-red-dark :#962D23;
$color-green-medium:#117373;
$color-green-dark:#0D5C5C;

//font variables top nav
.nixie-one-large {
    font-family: "Nixie One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.scope-one-regular {
    font-family: "Scope One", serif;
    font-weight: 600;
    font-size: 24px;
}

.scope-one-fine {
    font-family: "Scope One", serif;
    font-weight: 400;
    font-size: 16px;
}


//width navs
$sidebar-width: 7%; 
$sidebar-img-height: 82%;



//mixins
@mixin flexAlign($justify,$align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexDirection($display, $direction){
    display: flex;
    flex-direction: $direction;
}

@mixin imgScale($fit, $height, $width){
    width: $width; /* Let the width adjust to maintain aspect ratio */
    height: $height; /* Set the height to 100% */
    object-fit: $fit; /* Maintain aspect ratio and fit within the container */
    overflow: hidden;
    

}