@import "./variables";

*{
  margin: 0px;
  padding: 0px;
}

header{
  overflow: hidden;
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100px;
    background-color: $color-green-dark;
  
  
    .logo-container{
      border-bottom: 9px solid $color-red-dark;
      height: 15vh;
      background-color: $color-green-medium;
      @include flexAlign(center,center);
  
      .logo{
        filter: brightness(30%);
        opacity: 80%;
      }
    }
  
    .sidebar-bottom{
      background-image: url("/ECO/img/Rectangle 7.png");
      @include imgScale(contain,100%,100%);
      opacity: 20%;
    }
  }
  
  /* Width for sidebar and height for topbar will be relative to the content you can change */
  #topbar {
    position: fixed;
    top: 0;
    left: 0px;
    padding-left: 100px;
    height: fit-content;
    background-color: $color-tan;
    border-bottom: 9px solid $color-red-dark;
    width: 100vw;  
    height: 15vh;
  }
  
  /* Adjust padding to avoid content being covered by the top and sidebar */
  #news-headline {
    img{
      @include imgScale(cover,100vh,100vw);
    }
  
  }
}

