// Import variables
@import "./variables";

@import "./landing";
@import "./about-us";

// Reset styles --------------------------------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  cursor: pointer;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}



// footer{
//   background-color: $color-green-medium;
//   width: 100vw;
// }
