.nixie-one-large {
  font-family: "Nixie One", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 4em;
}

.nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875em;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 600;
  font-size: 1.5em;
}

.scope-one-fine {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-size: 1em;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125em;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8125em;
}

body {
  overflow-x: hidden;
}

header {
  height: 100vh;
}
header .sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 9%;
  background-color: #0D5C5C;
  transition: width 0.5s ease;
}
header .sidebar .nav-items {
  visibility: hidden;
}
header .sidebar.open {
  width: 15%;
}
header .sidebar.open .nav-items {
  color: white;
  visibility: visible;
  margin: 2em 0.5em;
}
header .sidebar.open .nav-items .title {
  border-bottom: 3px solid rgba(151, 151, 151, 0.168627451);
  font-weight: 600;
}
header .sidebar.open .nav-items li {
  padding: 0.5em;
}
header .sidebar.open .nav-items li:not(:first-child):active {
  text-decoration: underline;
  color: #962D23;
  font-weight: 600;
}
header .sidebar.open .arrow-icon {
  transform: rotate(180deg);
}
header .logo-container {
  border-bottom: 7px solid #962D23;
  height: 15vh;
  background-color: #117373;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo-container .logo {
  filter: brightness(30%);
  opacity: 50%;
}
header .sidebar-bottom {
  margin-top: calc(100% - 82%);
  background-image: url("/ECO/img/Rectangle 7.png");
  background-color: rgba(13, 92, 92, 0.2);
  background-size: cover;
  height: 82%;
  width: auto;
  background-repeat: no-repeat;
  background-position: right;
}
header .sidebar-bottom .arrow-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  width: 30px;
  height: auto;
  fill: rgba(255, 255, 255, 0.772);
  cursor: pointer;
}

#topbar {
  position: absolute;
  top: 0;
  left: 0px;
  margin-left: 9%;
  background-color: #FFF8E4;
  border-bottom: 7px solid #962D23;
  width: calc(100vw - 9%);
  height: 15vh;
  display: flex;
}
#topbar #header-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
}
#topbar #header-right {
  display: flex;
  align-items: center;
  padding-right: 4em;
  border-left: 2px solid #b9b9b9;
  margin: 2em;
}
#topbar .header-icons {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #962D23;
}
#topbar .header-icons svg {
  width: 3em;
}

#news-headline #news-headline-txt {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 47%;
}
#news-headline #news-headline-txt p {
  background-color: white;
  margin-bottom: 1em;
  padding: 1em;
}
#news-headline img {
  width: 100vw; /* Let the width adjust to maintain aspect ratio */
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and fit within the container */
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}

section {
  margin-left: 9%;
}
section .see-more-btn {
  text-align: center;
}
section .see-more-btn button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #962D23;
  color: #962D23;
  padding: 1em 2em;
  text-transform: uppercase;
}
section .see-more-btn button:hover {
  cursor: pointer;
  background-color: #962D23;
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
}

.news-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-nav li {
  padding: 4em 1em 0.5em 1em;
}
.news-nav li:first-child {
  border-bottom: 2px solid #962D23;
}

.template {
  visibility: collapse;
  display: none;
}

.news-card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row-gap: 2em;
  margin: 4em;
}
.news-card-container .section-1 img {
  width: 100%; /* Let the width adjust to maintain aspect ratio */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and fit within the container */
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}
.news-card-container p {
  padding: 1em;
}
.news-card-container .section-3 {
  border-bottom: 2px solid rgba(151, 151, 151, 0.168627451);
}
.news-card-container .section-3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-card-container .section-3 ul li {
  margin: 1em;
  color: #979797;
}
.news-card-container .section-3 ul li:first-child {
  font-weight: 600;
  color: black;
  margin-right: 2em;
}
.news-card-container .section-4 .news-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 1em;
}
.news-card-container .section-4 svg {
  width: 16px;
}
.news-card-container .section-4 p {
  color: #979797;
}

.box-1 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  height: 40em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 1;
  grid-row-end: span 8;
}

.box-2 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  height: 40em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 1;
  grid-row-end: span 8;
}

.box-3 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  height: 40em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 9;
  grid-row-end: span 8;
}

.box-4 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  height: 40em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 9;
  grid-row-end: span 8;
}

.section-2 {
  padding: 1em;
}

.section-3 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
}

.section-4 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
}

.section-5 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
}

.section-6 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
}

.section-7 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
}

.section-8 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  cursor: pointer;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}/*# sourceMappingURL=style.css.map */