.nixie-one-large {
  font-family: "Nixie One", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 4em;
}

.nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875em;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 600;
  font-size: 1.5em;
}

.scope-one-fine {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-size: 1em;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125em;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8125em;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden; /* Hide horizontal overflow */
}

header {
  height: 100vh;
  /* Adjust padding to avoid content being covered by the top and sidebar */
}
header #sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 7%;
  background-color: #0D5C5C;
}
header #sidebar .logo-container {
  border-bottom: 9px solid #962D23;
  height: 15vh;
  background-color: #117373;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #sidebar .logo-container .logo {
  filter: brightness(30%);
  opacity: 50%;
}
header #sidebar .sidebar-bottom {
  margin-top: calc(100% - 82%);
  background-image: url("/ECO/img/footer-overlay.png");
  background-size: cover;
  height: 82%;
  width: auto;
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: right; /* Center the background image within the element */
  opacity: 20%;
}
header #topbar {
  position: absolute;
  top: 0;
  left: 0px;
  margin-left: 7%;
  background-color: #FFF8E4;
  border-bottom: 9px solid #962D23;
  width: calc(100vw - 7%);
  height: 15vh;
  display: flex;
}
header #topbar #header-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
header #topbar #header-right {
  display: flex;
  align-items: center;
  padding-right: 40px;
  border-left: 1px solid #B9B9B9;
  margin: 40px;
}
header #topbar .header-icons {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #962D23;
}
header #topbar svg {
  width: 2em;
}
header #news-headline #news-headline-txt {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 47%;
}
header #news-headline #news-headline-txt p {
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5em 0.5em;
}
header #news-headline img {
  width: 100vw; /* Let the width adjust to maintain aspect ratio */
  height: 100vh; /* Set the height to 100% */
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and fit within the container */
  overflow: hidden;
}

section {
  margin-left: 7%;
}

.news-nav {
  display: flex;
  justify-content: center;
  list-style: none;
}
.news-nav li {
  padding: 3em 1em 0.5em;
}
.news-nav li:first-child {
  border-bottom: 3px solid #962D23;
}

.news-card-container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.box-1 {
  border: 1px solid red;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-start: 1;
  grid-row-end: span 4;
}

.box-2 {
  border: 1px solid red;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-start: 1;
  grid-row-end: span 4;
}

.box-3 {
  border: 1px solid red;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-start: 5;
  grid-row-end: span 4;
}

.box-4 {
  border: 1px solid red;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-row-start: 5;
  grid-row-end: span 4;
}

.section-1 {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2 {
  border: 1px solid blue;
}

.section-3 {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-4 {
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */