@import "./variables";

*{
  margin: 0px;
  padding: 0px;

}

body {
  overflow-x: hidden; /* Hide horizontal overflow */
}

header{
  
  height: 100vh;

  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $sidebar-width;
    background-color: $color-green-dark;
  
  
    .logo-container{
      border-bottom: 9px solid $color-red-dark;
      height: 15vh;
      background-color: $color-green-medium;
      @include flexAlign(center,center);
  
      .logo{
        filter: brightness(30%);
        opacity: 50%;
      }
    }
  
    .sidebar-bottom{
      margin-top: calc(100% - #{$sidebar-img-height});
      background-image: url("/ECO/img/footer-overlay.png");
      background-size: cover;
      height: $sidebar-img-height;
      width: auto;
      background-repeat: no-repeat; /* Prevent the background image from repeating */
      background-position: right; /* Center the background image within the element */

      opacity: 20%;
    }
  }
  

  #topbar {
    position: absolute;
    top: 0;
    left: 0px;
    margin-left: $sidebar-width;
    background-color: $color-tan;
    border-bottom: 9px solid $color-red-dark;
    width: calc(100vw - #{$sidebar-width});
    height: 15vh;
    display: flex; // Use flexbox for layout
  
    #header-left {
      flex: 1; // Take up remaining space
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 20px; // Add padding to the left for spacing
    }
  
    #header-right {
      display: flex;
      align-items: center; // Vertically center the content
      padding-right: 40px; // Add padding to the right for spacing
      border-left: 1px solid #B9B9B9;
      margin:40px;
    }
  
    .header-icons {
      margin-left: 20px; // Add margin between the icons
      display: flex;
      flex-direction: column;
      align-items: center; // Vertically center the content
      color: $color-red-dark;
    }
  
    svg {
      width: 2em;
      
    }
  }
  
  /* Adjust padding to avoid content being covered by the top and sidebar */
  #news-headline {
    #news-headline-txt{
      position: absolute;
      top: 30%; // Position the text 50% from the top
      left: 10%; // Position the text 50% from the left
      width: 47%;

      p{
        background-color: white; // Example color for text, adjust as needed
        margin-bottom: 1rem;
        padding:0.5em 0.5em;
      }
    }
    img{
      @include imgScale(cover,100vh,100vw);
    }
  
  }
}

section{
  margin-left: $sidebar-width;
}

.news-nav{
  display: flex;
  justify-content: center;
  list-style: none;

  li{
    padding: 3em 1em 0.5em;
  }

  li:first-child{
    border-bottom: 3px solid $color-red-dark;
    
  }
}

.news-card-container {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

// Generate box classes
@for $i from 1 through $total-boxes {
  .box-#{$i} {
    border: 1px solid red;
    display: grid;
    grid-template-rows: repeat(8, 1fr);

    // Dynamically set grid layout for boxes
    @if $i <= 2 {
      grid-row-start: 1;
      grid-row-end: span 4;
    } @else {
      grid-row-start: 5;
      grid-row-end: span 4;
    }
  }
}

@for $i from 1 through $total-sections {
  .section-#{$i} {
    @if $i == 2 {
      border: 1px solid blue;
    } @else {
      // Styles for sections other than section-2
      border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}





