.nixie-one-large {
  font-family: "Nixie One", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 4em;
}

.nixie-one-regular {
  font-family: "Nixie One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.875em;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 600;
  font-size: 1.5em;
}

.scope-one-fine {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-size: 1em;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.125em;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8125em;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow-x: hidden;
}

header {
  height: 100vh;
}
header #sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 7%;
  background-color: #0D5C5C;
}
header #sidebar .logo-container {
  border-bottom: 9px solid #962D23;
  height: 15vh;
  background-color: #117373;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #sidebar .logo-container .logo {
  filter: brightness(30%);
  opacity: 50%;
}
header #sidebar .sidebar-bottom {
  margin-top: calc(100% - 82%);
  background-image: url("/ECO/img/footer-overlay.png");
  background-size: cover;
  height: 82%;
  width: auto;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 20%;
}
header #topbar {
  position: absolute;
  top: 0;
  left: 0px;
  margin-left: 7%;
  background-color: #FFF8E4;
  border-bottom: 9px solid #962D23;
  width: calc(100vw - 7%);
  height: 15vh;
  display: flex;
}
header #topbar #header-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
header #topbar #header-right {
  display: flex;
  align-items: center;
  padding-right: 40px;
  border-left: 1px solid #b9b9b9;
  margin: 40px;
}
header #topbar .header-icons {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #962D23;
}
header #topbar .header-icons svg {
  width: 2em;
}

#news-headline #news-headline-txt {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 47%;
}
#news-headline #news-headline-txt p {
  background-color: white;
  margin-bottom: 1rem;
  padding: 0.5em 0.5em;
}
#news-headline img {
  width: 100vw; /* Let the width adjust to maintain aspect ratio */
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and fit within the container */
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}

section {
  margin-left: 7%;
}
section button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-nav li {
  padding: 4em 1em 0.5em;
}
.news-nav li:first-child {
  border-bottom: 3px solid #962D23;
}

.news-card-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row-gap: 10px;
  margin: 8em 15em;
}
.news-card-container .template {
  visibility: collapse;
}
.news-card-container .section-1 img {
  width: 100%; /* Let the width adjust to maintain aspect ratio */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and fit within the container */
  overflow: hidden;
  -o-object-position: center;
     object-position: center;
}
.news-card-container p {
  padding: 0.5em;
}
.news-card-container .section-3 {
  border-bottom: 1px solid rgba(151, 151, 151, 0.168627451);
}
.news-card-container .section-3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-card-container .section-3 ul li {
  margin: 0.5em;
  color: #979797;
}
.news-card-container .section-3 ul li:first-child {
  font-weight: 600;
  color: black;
  margin-right: 1em;
}
.news-card-container .section-4 .news-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0em 0.8em;
}
.news-card-container .section-4 svg {
  width: 16px;
}
.news-card-container .section-4 p {
  color: #979797;
  font-size: 12px;
}

.box-1 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 1;
  grid-row-end: span 8;
}

.box-2 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 1;
  grid-row-end: span 8;
}

.box-3 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 9;
  grid-row-end: span 8;
}

.box-4 {
  border: 2px solid rgba(151, 151, 151, 0.168627451);
  box-shadow: 0px 0px 10px 5px rgba(151, 151, 151, 0.168627451);
  border-radius: 6px;
  margin: 1em;
  display: grid;
  width: 30em;
  grid-template-rows: repeat(2, 1fr);
  grid-row-start: 9;
  grid-row-end: span 8;
}

.section-2 {
  padding: 1em;
}

.section-3 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-4 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-5 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-6 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-7 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-8 {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */